*.class
gen
staging
instrumentation_backend/.settings
instrumentation_backend/assets/foo.bar
*.png
*.swp
**/.DS_STORE
ruby-gem/pkg
ruby-gem/lib/calabash-android/lib/TestServer.apk
.rbenv-version
calabash-android-*.gem
.idea
*.iml
