<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="#testPackage#"
    android:versionCode="12"
    android:versionName="0.9.12">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="28" />

    <application android:label="instrumentation_backend"
      android:largeHeap="true"
      android:debuggable="true">

      <uses-library android:name="android.test.runner" />
      <uses-library android:name="com.google.android.maps" android:required="false" />

      <activity
        android:name="sh.calaba.instrumentationbackend.WakeUp"
        android:label="WakeUp"
        android:exported="true"
        android:launchMode="singleInstance"
        android:finishOnTaskLaunch="true"
        android:stateNotNeeded="true"
        android:noHistory="false"
        android:excludeFromRecents="true"/>
      <activity
        android:name="sh.calaba.instrumentationbackend.StatusReporterActivity"
        android:label="StatusReporterActivity"
        android:exported="true"
        android:finishOnTaskLaunch="true"
        android:stateNotNeeded="true"
        android:noHistory="true"
        android:excludeFromRecents="true"/>
      <activity
        android:name="sh.calaba.instrumentationbackend.ResumeTaskActivity"
        android:label="ResumeTaskActivity"
        android:exported="true"
        android:finishOnTaskLaunch="true"
        android:stateNotNeeded="true"
        android:noHistory="true"
        android:excludeFromRecents="true"/>
    </application>

    <instrumentation android:targetPackage="#targetPackage#" android:name="sh.calaba.instrumentationbackend.CalabashInstrumentationTestRunner" />
    <instrumentation android:targetPackage="#targetPackage#" android:name="sh.calaba.instrumentationbackend.ClearAppData" />
    <instrumentation android:targetPackage="#targetPackage#" android:name="sh.calaba.instrumentationbackend.ClearAppData2" />
    <instrumentation android:targetPackage="#targetPackage#" android:name="sh.calaba.instrumentationbackend.ClearPreferences" />
    <instrumentation android:targetPackage="#targetPackage#" android:name="sh.calaba.instrumentationbackend.SetPreferences" />
    <instrumentation android:targetPackage="#targetPackage#" android:name="sh.calaba.instrumentationbackend.GetPreferences" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
</manifest>
