<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="#TESTED_APP_PACKAGE#.test"
      android:versionCode="3"
      android:versionName="0.3.0">
    <application android:label="instrumentation_backend">
      <uses-library android:name="android.test.runner" />
      <uses-library android:name="com.google.android.maps" android:required="false" />
    </application>
    <uses-sdk android:minSdkVersion="4" />
    <instrumentation android:targetPackage="#TESTED_APP_PACKAGE#" android:name="sh.calaba.instrumentationbackend.CalabashInstrumentationTestRunner" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
